/*
 *
 * @info Heading block
 * @path assets/css/snippets/headings.css
 * @date 20220508
 *
 */

:where(h1, h2, h3, h4, h5, h6) {
  /* max-width: 62ch; */
  /* color: var(--foreground); */
}

/* :where(h2, h3, h4):not(:first-child) {
  padding-top: var(--space-xs);
} */

h2 {
  line-height: 1.1;
}

h3 {
  font-family: var(--secondary);
  font-size: var(--size-1);
  opacity: .85;
  margin-block: var(--space-xs) var(--space-3xs);
}

h4 {}

h5 {}

p {}

[data-block="heading"] {
  --grid-column: 3 / -3;
}

[data-block="heading"][data-modifier="h2"] {}

[data-block="heading"][data-modifier="h3"] {}

[data-block="heading"][data-modifier="h4"] {}

[data-block="heading"][data-modifier="h5"] {}

[data-block="heading"][data-modifier="h6"] {}

[data-block="heading"][data-modifier="full-width"] {}

[data-block="heading"][data-modifier="full-height"] {}