/*
 *
 * @info Image block
 * @path assets/css/snippets/images.css
 * @date 20220508
 *
 */

[data-block="image"] {
  /* max-height: 65vh; */
  /* overflow: hidden; */
}

[data-block="image"] img {
  /* height: 40vh; /*
  /* width: 100%; */
  /* object-fit: cover; */
}

header [data-block="image"] img {
  box-shadow: .25rem .25rem 0px 0px var(--highlight);
  background-color: var(--highlight);
}

main>[data-block="image"] {
  --grid-column: 1 / -1;
  /* -webkit-clip-path: url(#media-banner);
  clip-path: url(#media-banner); */
}

picture[data-block="image"] {}

figure[data-block="image"] {}