/*
 *
 * @info Typography variables
 * @path assets/css/variables/typography.css
 * @date 20220622
 *
 */

:root {
  --primary: var(--fallback);
  --secondary: "Secondary", var(--fallback);
  --fallback: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-se rif, "Apple Color Emoji", "Segoe UI Emoji";
}


/* @info Fluid Type Size Calculator */
/* @link https://utopia.fyi/type/calculator?c=240,16,1.125,2000,24,1.25,3,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --size--3: clamp(0.70rem, calc(0.69rem + 0.06vw), 0.77rem);
  --size--2: clamp(0.79rem, calc(0.77rem + 0.15vw), 0.96rem);
  --size--1: clamp(0.89rem, calc(0.85rem + 0.28vw), 1.20rem);
  --size-0: clamp(1.00rem, calc(0.93rem + 0.45vw), 1.50rem);
  --size-1: clamp(1.13rem, calc(1.02rem + 0.68vw), 1.88rem);
  --size-2: clamp(1.27rem, calc(1.12rem + 0.98vw), 2.34rem);
  --size-3: clamp(1.42rem, calc(1.22rem + 1.37vw), 2.93rem);
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

/* @info Webfonts */

/* 

@font-face {
  font-family: "Primary";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/noway-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Primary";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/noway-regular-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Primary";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/noway-bold.woff2") format("woff2");
  font-display: swap;
}

*/

@font-face {
  font-family: "Secondary";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/chronic-regular.woff2") format("woff2");
  font-display: swap;
}