/*
 *
 * @info Additional styles for the films.item template
 * @path assets/css/templates/films.item.css
 * @date 20220530
 * 
 */

:where(:root, ::selection) {
  --background: var(--black);
  --foreground: var(--silver);
  --highlight: var(--white);
}

:where(header, nav, aside) {
  --background: var(--black);
  --foreground: var(--quartz);
  --highlight: var(--quartz);
}

body {
  --background: var(--grey);
  --foreground: var(--silver);
  --highlight: var(--silver);
}


/*----------    ----------*/

header {
  background-image: none;
}

nav [data-state="active"],
nav a[data-lang="active"] {
  --foreground: var(--grey);
  --background: var(--silver);
}

aside img {
  opacity: .3;
}

[data-block*="banner"] :where(h2, svg) {
  width: min(100%, 25rem);
}


/*----------  Teasers  ----------*/

[data-block*="teaser"] {
  --background: var(--grey);
  --foreground: var(--silver);
  --highlight: var(--silver);
}

[data-block*="teaser"] a:hover {
  --background: var(--black);
  --foreground: var(--quartz);
  --highlight: var(--silver);
}

[data-block*="teaser"] a:hover figure {
  filter: opacity(.4)
}

/*----------  Misc  ----------*/

footer a {
  text-decoration-color: var(--quartz);
}

footer a:hover {
  text-decoration-color: var(--silver);
}

/* footer {
  --foreground: var(--silver);
  --background: var(--black);
} */